body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.middle{
    width: 80%;
    margin: 0 auto;
}

.btn{
    background-image: linear-gradient(#E5293D, #ff6568);
    color: #fff;
    padding: 15px 35px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.2rem;
    box-shadow: -10px 0px 15px -5px #e5293d
}

/* Menu Area */
.main-area{
    background: #0B0D17;
}

.logo-menu{
    display: flex;
}

.logo{
    width: 30%;
    margin-right: 5%;
}

.menu{
    width: 65%;
}
.menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li{
    display: inline;
}

.menu ul li a{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.menu ul li:hover a{
    background: #E5293D;
}

/* Banner Area */

.banner-area{
    padding: 120px 0;
}

.banner{
    display: flex;
}

.banner-half{
    width: 45%;
}

.banner-area-left h1{
    font-size: 2.5rem;
    color: #575757;
    text-transform: capitalize;
}

.banner-area-left h1 span{
    color: #E5293D;
}

.banner-area-left p{
    color: #252525;
    font-size: 1rem;
    margin: 60px 0;
}

.banner-area-left{
    margin-left: 5%;
}

.banner-area-right{
    margin-left: 5%;
    text-align: center;
}

.banner-area-right img{
    width: 100%;
}

/* About Area */

.about-area{
    padding: 120px 0;
    background-image: url(images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

.about{
    display: flex;
}

.about-half{
    width: 45%;
}

.about-area-right h2{
    font-size: 2.5rem;
    color: #575757;
    text-transform: capitalize;
    text-align: left;
}

.about-area-right p{
    color: #252525;
    font-size: 1rem;
    margin: 60px 0;
    text-align: left;
}

.about-area-left{
    margin-left: 5%;
}

.about-area-right{
    margin-left: 5%;
    text-align: center;
}

.about-area-left img{
    width: 50%;
}

/* Recipies-Area */
.recipies-area{
    padding: 40px 0 60px 0;
}

.recipies-info{
    text-align: center;
}

.recipies-info h2{
    font-size: 2.5rem;
    color: #575757;
    text-transform: capitalize;
}

.recipies-info p{
    color: #252525;
    font-size: 1rem;
}

.recipies-details{
    display: flex;
    padding: 30px 0 0 0;
}

.recipies-details .recipies-half{
    width: 30%;
    border: 5px solid #fff;
    box-shadow: 0px 0px 20px 0px #5757573d;
    border-radius: 20px;
    padding: 10px;
}

.recipies-details .recipies-half:nth-child(2){
    margin: 0 5%;
}

.recipies-details .recipies-half img{
    width: 100%;    
    border-radius: 20px;
}

.recipies-half h3{
    font-size: 1.2em;
    text-transform: capitalize;
}

/* Social Media Area */


.social-media-area{
    padding: 30px 0;
}

.social-media-list{
    display: flex;
    text-align: center;
    box-shadow: 0px 0px 20px 0px #5757573d;
    padding: 50px 0;
    border-radius: 18px;
}

.socia-media-info{
    width: 30%;
}

.socia-media-info p{
    color: #18191F;
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.socia-media-info h4{
    color: #18191F;
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-size: .9rem;
}

.social-media-list .socia-media-info:nth-child(2){
    margin: 0 5%;
}

/* Footer Area */
.footer-area{
    background-color: #0B0D17;
    padding: 25px 0 80px 0;
}

.footer{
    text-align: center;
}

.logo a{
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.logo span{
    color: #E5293D;   
}

.tagline-area{
    color: #fff;
    font-size: .9rem;
    font-weight: 200;
}